


@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}


.display-none{
    display: none;
}


.text-show{
    opacity: 100;
    transition: opacity 5s;
}

.text-hide{
    opacity: 0;
    transition: opacity 5s;
}