


@mixin verticalCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: Century Gothic Std,arial,sans-serif;
}

body{
    width: 100%;
    overflow: hidden;
}

.display-none{
    display: none;
}


.text-show{
    opacity: 100;
    transition: opacity 5s;
}

.text-hide{
    opacity: 0;
    transition: opacity 5s;
}