// fichier globale
@import "./_settings.scss";
@import "./component/nav/nav.scss";
@import "./component/nav/compte.scss";
@import "./component/navInfoFenetre/fenetreInfo.scss";
@import "./component/header.scss";
@import "./component/nav/logo.scss";
@import "./component/nav/block-search.scss";
@import "./pages/accueil.scss";
@import "./component/dispatchBlock.scss";
@import "./component/desktop.scss";