
.block-search{
    display: flex;
    flex-direction: row;
    position: relative;
}

.txt-search{
    margin-right: 20px;
}

.trait-Search{
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
}