.liste-icon{
    width: auto;
    display: flex;
    flex-direction: row;
}

.liste-icon li{
    margin: 5px;
    list-style: none;
    display: flex;
    align-items: center;
}

.icon svg{
    height: 20px;
    width: 20px;
}
