.fenetreInfo{
    height: 100vh;
    width: 34.375rem;
    background-color: white;
}

.barre-1{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.cross{
    position: absolute;
    margin: 2rem;
    width: 20px;
    height: 20px;
}

.cross:hover{
    cursor: pointer;
}



.barre-2{
    position: relative;
    height: 2.8125rem;
    display: flex;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}

.barre-2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.barre-2 ul li {
    list-style: none;
    text-align: center;
    height: 100%;
    margin: auto;
    display: flex;
    font-family: inherit;
}

.barre-2 ul li p{
    list-style: none;
    text-align: center;
    margin: auto;
}

.movingBarre{
    position: absolute;
    bottom: 0;
    background-color: black;
    height: 2px;
    width: 4rem;
}

.mb-favoris{
    left: 3.7675rem;
    transition: all 0.5s;
}

.mb-compte{
    left: 15.375rem;
    transition: all 0.5s;
}

.mb-panier{
    left: 26.75rem;
    transition: all 0.5s;
}

.transformTranslateX100{
    transform: translateX(0);
}

.transformTranslateX0{
    transform: translateX(100%);
}
