
.desktop{
    display: flex;
    flex-direction: row;
}

.desktop1{
    padding: auto;
    position: relative;
    line-height: 0%;
    top: 50%;
    cursor: pointer;
}

.desktop1:hover{
    text-shadow: black 0px 0px 0px;
    font-weight: 700;
}

.desktop1 h2{
    margin-right: 10px;
    font-weight: inherit;
}

