.header-block{
    height: 62px;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    padding-left: 40px;
    position: relative;
    justify-content: space-between;
}

.logo-block{

}

.nav-block{

}